<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%r [%t] [%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS}] %5p %class - %method - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>%r [%t] [%d{yyyy-MM-dd} | %d{HH:mm:ss.SSS}] %5p %class - %method - %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="net.borolis.spring" level="TRACE"/>
    <logger name="org.hibernate.SQL" level="INFO" />
    <logger name="org.hibernate.type" level="TRACE" />
    <logger name="com.datastax.oss.driver" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="file"/>
        <appender-ref ref="console"/>
    </root>
</configuration>
